@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Arizonia&family=Bangers&family=Berkshire+Swash&family=Concert+One&family=Dancing+Script:wght@700&family=Fleur+De+Leah&family=Fredericka+the+Great&family=Great+Vibes&family=Henny+Penny&family=Imperial+Script&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mea+Culpa&family=Oleo+Script+Swash+Caps:wght@400;700&family=Orelega+One&family=Oswald:wght@500;700&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Raleway+Dots&family=Roboto:ital,wght@0,400;0,700;0,900;1,100;1,300&family=Smokum&family=Special+Elite&family=Stint+Ultra+Condensed&family=Water+Brush&family=Yeseva+One&family=Zen+Loop:ital@0;1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  width: max(448px, 23%);
  margin: 150px auto;
  gap: 0.5rem;
}

.icon {
  display: block;
  padding: 28px 22px;
  list-style-type: none;
}
img {
  width: 145px 32px;
  height: 32px;
}

h2 {
  font-family: "Inter", sans-serif;
  margin-bottom: 0.5rem;
  font-size: 1.87rem;
  color: rgba(17, 24, 39, 1);
}

.link {
  color: #e5122e;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.link:hover {
  text-decoration: underline;
}
.formcontainer {
  margin-top: 0.5rem;
}
.formcontainer > * {
  margin-top: 1rem;
}
.formcontainer label {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.formcontainer input {
  border: none;
  background-color: #f3f4f6;
  width: 100%;
  font-size: 100%;
  border-radius: 4px;
  padding: 0.5rem;
  height: 44px;
  font-family: "Inter", sans-serif;
}

button {
  border: none;
  background-color: rgb(229, 18, 46, 1);
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  color: white;
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 1rem;
  height: 44px;
  font-family: "Inter", sans-serif;
}
button:hover {
  background-color: rgb(220, 38, 38, 1);
  cursor: pointer;
}

input:focus {
  outline: 1px solid rgba(75, 85, 99, 1);
}

.container p {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: rgba(75, 85, 99, 1);
  margin-bottom: 0.7rem;
}

.footer > * {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 275px;
}

/* h3 {
  font-family: "Inter", sans-serif;
  color: #555;
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 1.4rem;
  text-transform: none;
} */
.footer div .childFooter a {
  font-family: "Inter", sans-serif;
  color: #555;
  font-weight: 700;
  font-size: 16px;
}

.footer div .childFooter {
  margin: 0 0 1.5rem;
}
.footer div :nth-child(2) {
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  color: rgba(75, 85, 99, 1);
}
.footer div :nth-child(3) {
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  color: rgba(75, 85, 99, 1);
  margin-top: 0.55rem;
}

.footer a:nth-of-type(n) {
  font-size: 0.75rem;
  color: rgb(229, 18, 46, 1);
  font-weight: 700;
  text-decoration: none;
}
.footer div .childFooter p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
